#default 공통설정
#  jpa:
#    show-sql: true
#    properties:
#      jdbc:
#        time_zone: Asia/Seoul
#      hibernate:
#        format_sql: true
#    defer-datasource-initialization: true
#sql:
#  init:
#    mode: always

mybatis:
  mapper-locations: classpath:/mappers/**.xml
  config-location: classpath:/config/mybatis-config.xml

logging:
  level:
    'org.springframework.jdbc': debug
    'org.store.clothstar': debug

jwt:
  secret_key: Y2xvdGhzaG9wcGluZ21hbGxjbG90aHN0YXJjbG90aHNob3BwaW5nbWFsbGNsb3Roc3RhcmNsb3Roc2hvcHBpbmdtYWxsY2xvdGhzdGFyY2xvdGhzaG9wcGluZ21hbGxjbG90aHN0YXIK
  accessTokenValidTimeMillis: 1200000
  refreshTokenValidTimeMillis: 12000000

spring:
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 1000

--- # local 공통 설정
spring:
  config:
    activate:
      on-profile: "db-local"
  datasource:
    url: jdbc:mysql://localhost:3306/clothstar82
    username: root
    password: qwerasdf
    p6spy:
      enabled: true
      appender: com.p6spy.engine.spy.appender.Slf4JLogger
      logMessageFormat:
        p6spy: "%(currentTime)|%(executionTime)|%(category)|%(sqlSingleLine)"
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

--- # dev 공통 설정
spring:
  config:
    activate:
      on-profile: "db-dev"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(tdT8e3e+B4Lnbjjca9DuylTI2WMxolkaTxUyT4yJKbFLHUV0YynNjMss5AsaQJxEyndmGmgUlYTuJhx6667fcyUxGiV43314vgEwX+/NaVaSjIa2wiAmMfZu3WPVlgp/)
    username: ENC(xhLiaQAS5lcTT2hgCMRDOw==)
    password: ENC(XzhtQOZIlb9QjMX3klXi1EMBAuVOqWrM)
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true