<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>

<section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card bg-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h2 class="text-white">Main Page</h2>
                <div class="mb-3">
                    <button id="userPage-btn" class="btn btn-primary">user</button>
                    <button id="sellerPage-btn" class="btn btn-primary">seller</button>
                    <button id="adminPage-btn" class="btn btn-primary">admin</button>
                    <button id="logout-btn" class="btn btn-secondary">logout</button>
                </div>
                <div class="mb-2">
                    <button id="refresh-btn" class="btn btn-primary">access 토큰 갱신</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/index.js"></script>
</body>
</html>